<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/style.css' %}">
</head>
<body>
    <header>
        <h1>Login</h1>
    </header>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}"><button>Register here</button></a></p>
        <p>Countinue without logging in <a href="{% url 'book_list' %}"><button>Main page</button></a></p>
    </main>
</body>
</html>